// Standard colors
$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #fabe50;

// Standard sizes
$img-width: 45%;
$half-width: 50%;
$full-width: 100%;
$layout-margin-size: 10px;

// Utils variables
$directions: top, bottom, left, right;
