<form [formGroup]="form" class="todo-form">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="My new task"
      type="text"
      formControlName="title"
    />
    <mat-error *ngIf="form.get('title')!.hasError('required')">
      Title is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input
      matInput
      placeholder="Task description"
      type="text"
      formControlName="description"
    />
    <mat-error *ngIf="form.get('description')!.hasError('required')">
      Description is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button
    class="todo-form__button"
    type="submit"
    mat-raised-button
    color="primary"
    (click)="addTask()"
  >
    Add task
  </button>
</form>
