{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E commerce Go</title>
  </head>
  <body>
    <h1>E Commerce Go</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Camiseta</td>
          <td>Bonita</td>
          <td>29</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Camiseta</td>
          <td>Bonita</td>
          <td>29</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
{{end}}
