:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --box-shadow-color: rgba(0, 0, 0, 0.6);
  --form-background-color: rgba(255, 255, 255, 0.05);
  --form-border-color: #9893d8;
  --form-text-color: #f2f2f2;
  --button-hover-color: #222;
  --title-color: #dddbff;
  --text-color: #9893d8; 
  --text-projects-title-color: #9994f7;
  --dark-blue-background-color: #07083e;
  --light-black-background-color: rgba(0, 0, 0, 0.2);
  --footer-background-color: #14153d;
  --contact-background-color: #080936;
}
