<h1>Accessible Modal Component</h1>

<p>Welcome to the accessible modal testing page!</p>

<button class="button button-primary" type="button" (click)="show()">Show modal</button>

<ng-template #modal>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="first-name">First name</label>
      <input
        id="first-name"
        aria-describedby="first-name-error"
        type="text"
        formControlName="firstName"
        [attr.aria-invalid]="form.get('firstName')?.invalid"
      />
      <span id="first-name-error" class="validation-error" *ngIf="form.get('firstName')?.errors?.['required']"
        >First name is required</span
      >
    </div>

    <div class="form-field">
      <label for="surname">Surname</label>
      <input
        aria-describedby="surname-error"
        id="surname"
        type="text"
        formControlName="surname"
        [attr.aria-invalid]="form.get('surname')?.invalid"
      />
      <span id="surname-error" class="validation-error" *ngIf="form.get('surname')?.errors?.['required']"
        >Surname is required</span
      >
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input
        aria-describedby="age-error"
        id="age"
        type="text"
        formControlName="age"
        [attr.aria-invalid]="form.get('age')?.invalid"
      />
      <span id="age-error" class="validation-error" *ngIf="form.get('age')?.errors?.['required']">Age is required</span>
    </div>

    <label for="info">Subscribe to news letter</label>
    <input type="checkbox" id="info" formControlName="newsletter" />
    <p [@fade] *ngIf="form.get('newsletter')?.value">Nice :) now you will receive all the new articles</p>

    <div class="button-group">
      <button class="button button-primary" type="submit" [attr.aria-disabled]="form.invalid">Submit</button>
      <button class="button button-secondary" type="button" (click)="modalRef.close()">Cancel</button>
    </div>
  </form>
</ng-template>
