:host {
  .todo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
    overflow: scroll;
    max-height: 600px;

    &__card {
      max-width: 100%;

      ::ng-deep .mat-card-header {
        .mat-card-header-text {
          margin: 0;
        }
      }
    }
  }
}
