<div
  appKeyboardManager
  class="button-group"
  role="radiogroup"
  [attr.aria-labelledby]="id"
>
  <label [id]="id" class="button-group__label">{{ label }}</label>
  <button
    appKeyboardManagedItem
    [attr.disabled]="disabled || null"
    [attr.aria-checked]="value === OPTIONS.YES"
    [class.button-group__button--pressed]="value === OPTIONS.YES"
    [tabindex]="value === OPTIONS.YES || value === null ? 0 : -1"
    (click)="activate(OPTIONS.YES)"
    (focused)="activate(OPTIONS.YES)"
    class="button-group__button--yes"
    type="button"
    role="radio"
  >
    Yes
  </button>
  <button
    appKeyboardManagedItem
    [attr.disabled]="disabled || null"
    [attr.aria-checked]="value === OPTIONS.NO"
    [class.button-group__button--pressed]="value === OPTIONS.NO"
    [tabindex]="value === OPTIONS.NO ? 0 : -1"
    (click)="activate(OPTIONS.NO)"
    (focused)="activate(OPTIONS.NO)"
    class="button-group__button--no"
    type="button"
    role="radio"
  >
    No
  </button>
</div>
